* text=auto !eol
/Makefile -text
/apertium-eus-sme.eus-sme.dix -text
/apertium-eus-sme.eus-sme.t1x -text
/apertium-eus-sme.eus-sme.t2x -text
/apertium-eus-sme.eus-sme.t3x -text
dev/test_grammar.cg -text
dev/test_grammar_sme.cg -text
/eus-verb-valency.xml -text
/sme-verb-valency.xml -text
/testsentences.txt -text
/testsentences_pippi.txt -text
