* text=auto !eol
/Makefile -text
/apertium-eus-sme.eus-sme.bin -text
/apertium-eus-sme.eus-sme.dis -text
/apertium-eus-sme.eus-sme.dix -text
/apertium-eus-sme.eus-sme.lex -text
/apertium-eus-sme.eus-sme.t1x -text
/apertium-eus-sme.eus-sme.t2x -text
/apertium-eus-sme.eus-sme.t3x -text
/apertium-eus-sme.eus-sme.val -text
/apertium-eus-sme.sme.lexc -text
/apertium-eus-sme.sme.twol -text
dev/apertium-eus-sme.eus.val -text
dev/apertium-eus-sme.sme.val -text
dev/update-lexc.py -text
/eus-sme.prob -text
/eus-verb-valency.xml -text
/sme-verb-valency.xml -text
/testsentences.txt -text
/testsentences_pippi.txt -text
